<!DOCTYPE html>

<html>
   <head>
      <title>APIs and Microservices Projects</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css" />
      <style>
        body {
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          color: #222;
          background-color: #FaFaFa;
          text-align: left;
          line-height: 1.4em;
        }

        .container {
          padding: 0;
          margin-top: 40px;
        }
        a {
          color: #2574A9;
        }
      </style>
  
   </head>

   <body>
    <div class="container">
      <h2 style="text-align: center;">APIs and Microservices Projects</h2>
      <ul>
        <li><a href="/timestamp">Timestamp Microservice</a></li>
        <li><a href="/requestHeaderParserMicroservice">Request Header Parser Microservice</a></li>
        <li><a href="/urlShortener">URL Shortener Microservice</a></li>
      </ul>
    </div>
  </body>
</html>
